
body {
  background-color: radial-gradient(circle, antiquewhite, pink, blueviolet);
}
.trs {
    background: rgba(76, 175, 80, 0.5) /* Green background with 30% opacity */
}
.col{
	background: linear-gradient(transparent, transparent, transparent);
}

.margin-top
{
	margin-top: 5px;
}
.no-margin
{
margin:0px; 	
}
.no-padding
{ 
	padding:0px; 
}
.footer
{
	background-color: #7c6fe6;
	color: blue;
    width: 100%;
    bottom: 0;
    position: fixed;
}