{% extends 'base.html' %}

    		    
{% block itemview %}<li><a href="/itemsview">View Items</a></li>{% endblock %}
{% block logout %}<li><a href="/logout">Signout</a></li>{% endblock %}


{% block content%}	
<div>
    <!-- button triggering the popup form for creating bucketlist-->
<div class="center"><p><a class="btn btn-success" data-toggle="modal" data-target="#modal1"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp; Create New BucketList</a></p>
</div>

<!-- The popup form for creating a bucketlist -->
<div class="modal fade" id="modal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="panel-body trs modal-dialog trs">
    <div class="modal-content modal-popup trs">    
    <form method="POST" action={{ url_for("create_bucketlist")}} role="form">
                <div class="form-group">
                    <label for="InputName">BucketList Name</label>
                    <input type="text" class="form-control" id="InputName" placeholder="Enter Bucketlist Name" name="bn">
                </div>
                <div class="form-group">
                    <label for="InputDesc">Description</label>
                    <input type="text" class="form-control" id="InputDesc" placeholder="Enter Description" name="bd">
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
    </form>
    </div>
    </div>
</div>

<!-- bucketlists -->
<div>
    <div class="col-lg-offset-2 col-lg-9">
        <!-- flash messages for error information -->
             {% with messages = get_flashed_messages() %}
                            {% for message in messages %}
                               <div class="alert alert-info col-lg-7" role="alert"><em>{{ message }}</em></div>
                            {% endfor %}   
                            {% endwith %} 
    </div>
    <!-- bucketlists display after creation -->
    <div class="row">
        {% for bucket in buckets %}
        <div class="jumbotron col-lg-3 col-lg-offset-1 trs">    
        <div class=""><h2>{{ bucket['BucketName'] }}</h2></br><a href="/itemsview" class="btn btn-primary">View Bucketlist Items</a>    
        </div></br></br>
        <div class="trs">
            <ul class="nav navbar-nav nav-tabs trs">
            <li><a href={{ url_for('deletebucket', BucketName = bucket['BucketName'])}} class="btn btn-danger pull-right">Delete &nbsp;<span class="glyphicon glyphicon-remove "></span></a></li>
            <li><a href="#" class="btn btn-warning pull-right">Edit &nbsp;<span class="glyphicon glyphicon-pencil"></span></a></li>
            </ul>        
        </div>
        </div>
        {% endfor %}
    </div>
</div>
</div>
{% endblock %}
    