{% extends "base.html" %}

{% block bucketlist %}<li><a href="{{url_for('bucketlist')}}">Bucketlists</a></li>{% endblock %}
{% block logout %}<li><a href="/logout">Signout</a></li>{% endblock %}

{% block content %}
<div class="row">
    <div class="center"><p><button class="btn btn-success"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp; Add Item to Bucketlist</button></p>
    </div>
   <div class="row">
        <div>
            {% for k, v in cred.items() %}
                {{k , v}}
            {% endfor %}   
        </div>
        <div class="jumbotron col col-lg-offset-1 col-lg-10">
            <h1>Bucketlis1<h1>
                <div><h2>In December I should be a cool nerd<a href="#" class="btn btn-danger pull-right">Delete &nbsp;<span class="glyphicon glyphicon-remove "></span></a><a href="#" class="btn btn-warning pull-right">Edit &nbsp;<span class="glyphicon glyphicon-pencil"></span></a></h2></div>
        </div>
            
    </div>
</div>
{% endblock %}
