{% extends 'base.html'%}

{% block home %}<li><a href="/">Home</a></li>{% endblock %}
{% block signin %}<li><a href="{{url_for('signin')}}">Sign In</a></li>{% endblock %}
{% block content%} 

<div class="panel panel-default col-lg-6 col-lg-offset-3 trs">
    <div class="panel-heading trs">
        <em><h2 class="panel-title">Sign Up Here</h2></em>
                        
        <div class="panel-body trs">
        <form method="POST" role="form">
            <div class="form-group">
                <label for="InputName">First Name</label>
                <input type="text" class="form-control" id="InputFName" placeholder="Enter First Name" name="FN">
            </div>
            <div class="form-group">
                <label for="InputSName">Second Name</label>
                <input type="text" class="form-control" id="InputSName" placeholder="Enter Second Name" name="SN">
            </div>
            <div class="form-group">
                <label for="InputEmail">Email Address</label>
                <input type="email" class="form-control" id="InputEmail" placeholder="Enter Email" name="EM">
            </div>
            <div class="form-group">
                <label for="InputPassword">Password</label>
                <input type="password" class="form-control" id="InputPassword" placeholder="Password" name="PW">
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
        </div>
    </div>
</div> 

{% endblock %} 
